{% load static %}

<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'metronic8/demo3/assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'metronic8/demo3/assets/js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->

<!--begin::Vendors Javascript(used for this page only)-->
<script src="{% static 'metronic8/demo3/assets/plugins/custom/fslightbox/fslightbox.bundle.js' %}"></script>
<script src="{% static 'metronic8/demo3/assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Vendors Javascript-->

<!--begin::Custom Javascript(used for this page only)-->
<script src="{% static 'metronic8/demo3/assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'metronic8/demo3/assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'metronic8/demo3/assets/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'metronic8/demo3/assets/js/custom/utilities/modals/create-campaign.js' %}"></script>
<script src="{% static 'metronic8/demo3/assets/js/custom/utilities/modals/users-search.js' %}"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v18.0" nonce="XihM6ZLY"></script>
<!--end::Custom Javascript-->